  <header class="topbar" role="navigation" aria-label="Menu superior">
    <div class="topbar__wrap">
      <div class="topbar__brand">
        <!-- título/branding do app -->
        <img src="logo.jpg" alt="Logo" />
      </div>

      <nav class="topbar__nav" aria-label="Ações rápidas">
        <!-- adicione botão de ver notificação do primeng -->
        <div class="topbar__left_item">
          <button pButton icon="pi pi-bell" class="notification-button" aria-label="Notificações"></button>
        </div>

<!--         
        <a class="topbar__link"
           *ngFor="let it of items"
           [routerLink]="it.route"
           routerLinkActive="is-active"
           [routerLinkActiveOptions]="{ exact: it.route === '/dashboard' }">
          {{ it.label }}
        </a> -->
      </nav>
    </div>
  </header>