.layout {
    min-height: 100dvh;
    margin-left: var(--nav-current); /* espaço da sidebar */
    padding-top: var(--topbar-h); /* espaço do topbar fixo */
    transition: margin-left 0.2s ease, padding-top 0.2s ease;
    
}

.layout-light {
    background: var(--layout-background-light) !important;
}

.layout__content {
    padding: 1rem;
    padding-left: 2rem;
}

.page-title {
    background: var(--topbar-background);
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

.page-title__text {
    margin: 0;
    font-size: 1.4rem;
    color: var(--topbar-text);
}

.divider {
    //margem laterais
    padding: 0 2rem;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.37);
    z-index: 10;
}