<p-panel>
    <!-- botão para adicionar transação -->
    <ng-template pTemplate="header">
        <div class="flex flex-wrap justify-content-start align-items-center">
            <button
                pButton
                type="button"
                label="Adicionar"
                icon="pi pi-plus"
                class="p-button-success"
                size="small"
                (click)="showDialog()"
            ></button>
        </div>
    </ng-template>

    <p-table
        [value]="transactions"
        [paginator]="true"
        [rows]="10"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        [className]="'transaction-table'"
    >
        <ng-template #header>
            <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Ativo</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Corretora</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Preço</th>
                <th class="text-center">Valor Bruto</th>
                <th class="text-center">Taxas</th>
                <th class="text-center">Imposto</th>
                <th class="text-center">Valor Líquido</th>
                <th class="text-center">Ações</th>
            </tr>
        </ng-template>
        <ng-template #body let-transaction>
            <tr>
                <td class="text-center">{{ transaction.tradeDate | date : "dd/MM/yyyy" }}</td>
                <td class="text-center">{{ transaction.asset?.symbol }}</td>
                <td class="text-center">{{ transaction.type }}</td>
                <td class="text-center">{{ transaction?.broker?.name }}</td>
                <td class="text-center">{{ transaction.quantity | number : "1.2-8" }}</td>
                <td class="text-center">
                    {{
                        transaction.price
                            | currency : "BRL" : "symbol" : "1.2-6"
                    }}
                </td>
                <td class="text-center">
                    {{
                        transaction.grossValue
                            | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                </td>
                <td class="text-center">
                    {{
                        transaction.feeValue
                            | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                </td>
                <td class="text-center">
                    {{
                        transaction.taxValue
                            | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                </td>
                <td class="text-center">
                    {{
                        transaction.netValue
                            | currency : "BRL" : "symbol" : "1.2-2"
                    }}
                </td>
                <td class="flex justify-content-center">
                    <button
                        pButton
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-danger p-button-sm"
                        (click)="confirmDelete(transaction.id)"
                    ></button>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-warning p-button-sm ml-2"
                        (click)="editTransaction(transaction)"
                    ></button>
                </td>
                
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<!-- Mover para um componente separado futuramente -->

<p-dialog
    header="Adicionar transação"
    [(visible)]="visible"
    [modal]="true"
    [draggable]="true"
    [resizable]="true"
    styleClass="w-full lg:w-6"
>
    <!-- cria formulário para adicionar transação usando float label do primeng(<p-floatLabel>)-->
    <form [formGroup]="transactionForm" class="formgrid grid pt-2">
        <div class="field col-12 md:col-6 pt-3">
            <p-floatlabel class="w-full md:w-56" >
                <p-select
                    formControlName="asset"
                    inputId="asset"
                    [options]="assetOptions"
                    optionLabel="ticker"
                    [virtualScroll]="true"
                    [lazy]="true"
                    [filter]="true"
                    [loading]="loadingAssets"
                    [virtualScrollItemSize]="40"
                    [showClear]="true"
                    class="w-full"
                ></p-select>
                <label for="asset">Ativo</label>
            </p-floatlabel>
        </div>
        <div class="field col-12 md:col-6 pt-3">
            <p-float-label>
            <p-select
                formControlName="type"
                [options]="transactionTypes"
                class="w-full"
            ></p-select>
            <label for="type">Tipo</label>
            </p-float-label>
        </div>

        <div class="field col-12 md:col-6 pt-3">
            <p-floatlabel class="w-full md:w-56" >
                <p-select
                    formControlName="broker"
                    inputId="broker"
                    [options]="brokerOptions"
                    optionLabel="name"
                    [virtualScroll]="true"
                    [lazy]="true"
                    [filter]="true"
                    [loading]="loadingBrokers"
                    [virtualScrollItemSize]="40"
                    [showClear]="true"
                    class="w-full"
                ></p-select>
                <label for="broker">Corretora</label>
            </p-floatlabel>
        </div>
        <div class="field col-12 md:col-6 pt-3">
            <p-floatLabel>
                <p-inputNumber
                    formControlName="quantity"
                    mode="decimal"
                    minFractionDigits="2"
                    maxFractionDigits="8"
                    class="w-full"
                ></p-inputNumber>
                <label for="quantity">Quantidade</label>
            </p-floatLabel>
        </div>
        <div class="field col-12 md:col-6 pt-3">
            <p-floatLabel>
                <p-inputNumber
                    formControlName="price"
                    mode="currency"
                    currency="BRL"
                    locale="pt-BR"
                    minFractionDigits="2"
                    maxFractionDigits="6"
                    class="w-full"
                ></p-inputNumber>
                <label for="price">Preço</label>
            </p-floatLabel>
        </div>
        <div class="field col-12 md:col-6 pt-3">
            <p-floatLabel>
                <p-inputNumber
                    formControlName="feeValue"
                    mode="currency"
                    currency="BRL"
                    locale="pt-BR"
                    minFractionDigits="2"
                    maxFractionDigits="2"
                    class="w-full"
                ></p-inputNumber>
                <label for="feeValue">Taxas</label>
            </p-floatLabel>
        </div>
        <div class="field col-12 md:col-6 pt-3">
            <p-floatLabel>
                <p-inputNumber
                    formControlName="taxValue"
                    mode="currency"
                    currency="BRL"
                    locale="pt-BR"
                    minFractionDigits="2"
                    maxFractionDigits="2"
                    class="w-full"
                ></p-inputNumber>
                <label for="taxValue">Imposto</label>
            </p-floatLabel>
        </div>
        <div class="field col-12 md:col-6 pt-3">
            <p-floatlabel>
                <p-datepicker
                    formControlName="tradeDate"
                    inputId="tradeDate"
                    showIcon
                    iconDisplay="input"
                    fluid="true"
                    appendTo="body"
                    dateFormat="dd/mm/yy"
                />
                <label for="tradeDate">Data da transação</label>
            </p-floatlabel>
        </div>
        <p-divider />
        <div class="field col-12 flex justify-content-end gap-2">
            <button
                pButton
                type="button"
                label="Salvar"
                icon="pi pi-check"
                class="p-button-success"
                (click)="addTransaction()"
                [disabled]="transactionForm.invalid"
            ></button>
            <button
                pButton
                type="button"
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-secondary"
                (click)="visible = false"
            ></button>
        </div>
    </form>
</p-dialog>
