<!-- Alternância entre visões -->
<p-panel showHeader="false" styleClass="panel-filter">
    <div class="flex justify-content-center w-full">
        <p-selectbutton
            [options]="stateOptions"
            [(ngModel)]="valueSelected"
            optionLabel="label"
            optionValue="value"
            aria-labelledby="basic"
            allowEmpty="false"
        ></p-selectbutton>
    </div>
</p-panel>

<!-- VISÃO GERAL -->
<div *ngIf="valueSelected === 'overview'" class="grid-overview">
    <div class="totals">
        <p-panel header="Totalizadores" styleClass="card totals-card">
            <div class="totals-grid">
                <div class="total-item">
                    <span class="total-label">Patrimônio total</span>
                    <span class="total-value">{{
                        totalPortfolioValue
                            | currency: 'BRL' : 'symbol' : '1.2-2'
                    }}</span>
                </div>
                <div class="total-item">
                    <span class="total-label">Rentabilidade total</span>
                    <span class="total-value"
                        >{{ totalReturnPercent | number: '1.2-2' }}%</span
                    >
                </div>
                <div class="total-item">
                    <span class="total-label">Renda total</span>
                    <span class="total-value">{{
                        totalIncomeValue | currency: 'BRL' : 'symbol' : '1.2-2'
                    }}</span>
                </div>
            </div>
        </p-panel>
    </div>
    <!-- Rentabilidade diária (ultimos 12 meses) -->
    <p-panel header="Rentabilidade diária (últimos 12 meses)" styleClass="card">
        <ng-container *ngIf="hasGeralData(); else emptyGeral">
            <div class="dashboard">
                <div class="chart-container">
                    <p-chart
                        type="line"
                        [data]="rentabilidadeDiariaChartData"
                        [options]="rentabilidadeDiariaChartOptions"
                        responsive="true"
                    ></p-chart>
                </div>
            </div>
        </ng-container>
        <ng-template #emptyGeral>
            <div class="empty flex flex-column align-items-center justify-content-center">
                   <i
                        class="pi pi-info-circle"
                        style="font-size: 2rem; color: var(--p-primary-color)"
                    ></i>
                    <br />
                Sem dados de rentabilidade. Cadastre transações para
            </div>
        </ng-template>
    </p-panel>

    <!-- Renda mensal -->
    <p-panel header="Renda mensal (últimos 12 meses)" styleClass="card">
        <ng-container *ngIf="hasGeralData(); else emptyMensal">
            <div class="dashboard">
                <div class="chart-container">
                    <p-chart
                        type="bar"
                        [data]="rendaMensalChartData"
                        [options]="rendaMensalChartOptions"
                        responsive="true"
                    ></p-chart>
                </div>
            </div>
        </ng-container>
        <ng-template #emptyMensal>
            <div class="empty flex flex-column align-items-center justify-content-center">
                     <i
                            class="pi pi-info-circle"
                            style="font-size: 2rem; color: var(--p-primary-color)"
                      ></i>
                      <br />
                 Sem dados de renda. Cadastre eventos para obter renda.
            </div>
        </ng-template>
    </p-panel>
</div>






<!-- VISÃO DETALHADA -->
<!-- VISÃO DETALHADA (watchlist lateral estilo TradingView) -->
<div *ngIf="valueSelected === 'detailed'" class="grid">
    <!-- Watchlist lateral -->

    <div class="col-10">
        <!-- 
        <p-panel>
            
            <p-tabs value="rentabilidade">
                <p-tablist>
                    <p-tab value="rentabilidade">Rentabilidade</p-tab>
                    <p-tab value="projecao">Projeção</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="rentabilidade">
                        <p-panel
                            header="Rentabilidade por Ativo"
                            styleClass="card"
                        >
                            <div class="dashboard">
                                <div class="chart-container">
                                    <p-chart
                                        type="line"
                                        [data]="rentPorAtivoChartData"
                                        [options]="rentPorAtivoChartOptions"
                                        class="h-[30rem]"
                                    ></p-chart>
                                </div>
                            </div>
                        </p-panel>
                    </p-tabpanel>
                    <p-tabpanel value="projecao">
                        <p-panel header="Previsão por Ativo" styleClass="card">
                            <div class="dashboard">
                                <div class="chart-container">
                                    <p-chart
                                        type="line"
                                        [data]="forecastChartData"
                                        [options]="forecastChartOptions"
                                        style="height: 300px"
                                    ></p-chart>
                                </div>
                            </div>
                        </p-panel>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </p-panel>
    </div>
    <div class="col-2">
        <p-panel>
            <ng-template #header>
                <div
                    class="w-full flex justify-content-center align-items-start pt-0"
                >
                    <span
                        class="vertical-align-top vertical-align-text-top text-lg"
                        >Ativos na carteira</span
                    >
                </div>
            </ng-template>
            <p-listbox
                [options]="filteredAtivos"
                [(ngModel)]="ativoSelecionado"
                optionValue="value"
                [filter]="true"
                [listStyle]="{ 'max-height': '520px' }"
                (onChange)="onAssetChange($event.value)"
            >
                <ng-template let-opt pTemplate="item">
                    <div
                        class="watch-item"
                        [ngClass]="{ selected: opt.value === ativoSelecionado }"
                    >
                        <div class="sym-row">
                            <span class="sym">{{ opt.value }}</span>
                            <span class="name">{{ opt.name }}</span>
                        </div>
                        <div class="px-row">
                            <span class="last">{{
                                opt.last | number: '1.2-2'
                            }}</span>
                            <span
                                class="chg"
                                [ngClass]="{
                                    up: opt.change >= 0,
                                    down: opt.change < 0,
                                }"
                            >
                                {{ opt.change >= 0 ? '+' : ''
                                }}{{ opt.change | number: '1.2-2' }}%
                            </span>
                        </div>
                    </div>
                </ng-template>
            </p-listbox>
        </p-panel>
    </div> -->
</div>
