<!-- Alternância entre visões -->
<p-panel showHeader="false" styleClass="panel-filter">
    <div class="flex justify-content-center w-full">
        <p-selectbutton
            [options]="stateOptions"
            [(ngModel)]="valueSelected"
            optionLabel="label"
            optionValue="value"
            aria-labelledby="basic"
            allowEmpty="false"
            (onChange)="onValueSelectedChange()"
        ></p-selectbutton>
    </div>
</p-panel>

<!-- VISÃO GERAL -->
<app-overview [hidden]="valueSelected !== 'overview'"/>
<!-- VISÃO DETALHADA -->
<app-detailed [hidden]="valueSelected !== 'detailed'"/>