/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";
@use "@fontsource/montserrat";

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


:root {
  --nav-w: 240px;              /* largura do menu (atualizada via JS) */
  --nav-w-collapsed: 70px;
  --nav-current: var(--nav-w); // será atualizado via TS da sidebar
  --topbar-h: 60px;

  --nav-bg: var(--p-content-background);           /* slate-900 */
  --nav-fg: var(--p-text-color);           /* gray-200 */
  --nav-fg-dim: var(--p-text-color-dim);       /* gray-400 */
  --nav-active: var(--p-primary-color);       /* blue-400 */
  --layout-background-light: #F5F5F5;   
  --secondary-color: #088C4F;
}

